<!-- Footer -->
<footer class="text-center text-lg-start">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-xl-start pt-5">
        <!-- Grid row -->
        <div class="row mt-4">
          <!-- Grid column -->
          <div class="col-xxl-3 mx-auto mb-4 element">
            <!-- Content -->
            <h3 class="text-uppercase fw-bold mb-4" >
              Tuan Sport
            </h3>
            <p>
              <i data-feather="map-pin" class="p-2 footer-icon feather-46"></i>
              <span class="text">Cơ sở 1: 55 Ngô Gia Tự</span>
            </p>
            <p>
              <i data-feather="map-pin" class="p-2 footer-icon feather-46"></i>
              <span class="text">Cơ sở 2: 150 Ngô Gia Tự</span>
            </p>
            <p>
              <i data-feather="map-pin" class="p-2 footer-icon feather-46"></i>
              <span class="text">Cơ sở 3: 55 Pasteur</span>
            </p>
            <p>
              <i data-feather="phone" class="p-2 footer-icon feather-46"></i>
              <span>Hotline: 0905 595 614</span>
            </p>
            <p>
              <i data-feather="phone" class="p-2 footer-icon feather-46"></i>
              <span>Hotline: 0986 955 869</span>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xxl-2 mx-auto mb-4 element">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4" >
              Chính sách
            </h6>
            <p>
              <a href="#!" class="text-reset">Chính sách giao nhận</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Chính sách đổi trả</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Chính sách bảo mật</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xxl-2 mx-auto mb-4 element">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Fanpage
            </h6>
            <p>
              <a href="#!" class="text-reset">Facebook</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-xxl-4 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Nhận ưu đãi</h6>
            <form action="">
              <input type="text" class="me-2 form-control input-box" placeholder="Nhập email" >
            </form>
            <a href="#" class="btn btn-primary float-end">Đăng ký nhận ưu đãi</a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->