<!-- Footer -->
<footer class="text-center text-lg-start">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start pt-4">
        <!-- Grid row -->
        <div class="row mt-4">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-4 mx-auto mb-4">
            <!-- Content -->
            <h3 class="text-uppercase fw-bold mb-4">
              Tuan Sport
            </h3>
            <p>
              <i data-feather="map-pin" class="p-2 footer-icon"></i>
              <span class="text">Co so 1: Ngo Gia Tu</span>
            </p>
            <p>
              <i data-feather="map-pin" class="p-2 footer-icon"></i>
              <span class="text">Co so 2: 150 Ngo Gia Tu</span>
            </p>
            <p>
              <i data-feather="map-pin" class="p-2 footer-icon"></i>
              <span class="text">Co so 3: 51 Pastuer</span>
            </p>
            <p>
              <i data-feather="phone" class="p-2 footer-icon"></i>
              <span>Hotline: 0905 595 614</span>
            </p>
            <p>
              <i data-feather="phone" class="p-2 footer-icon"></i>
              <span>Hotline: 0986 955 869</span>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Chinh sach
            </h6>
            <p>
              <a href="#!" class="text-reset">Chinh sach giao nhan</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Chinh sach doi tra</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Chinh sach bao mat</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Fanpage
            </h6>
            <p>
              <a href="#!" class="text-reset">Facebook</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Tiktok</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-4 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Leave Contact</h6>
            <form action="">
              <input type="text" class="me-2 form-control input-box" value="email" placeholder="Leave your comment" >
            </form>
            <a href="#" class="btn btn-primary float-end">Send Email</a>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  </footer>
  <!-- Footer -->