<!-- Footer -->
<footer class="text-center text-lg-start">
  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-xxl-start pt-5">
      <!-- Grid row -->
      <div class="row mt-4">
        <!-- Grid column -->
        <div class="col-xxl-3 col-md-6 mx-auto  pb-2 mb-4 element">
          <!-- Content -->
          <h3 class="text-uppercase fw-bold mb-4">
            Tuấn Sport Đà Nẵng
          </h3>
          <table style="color: var(--white-color)!  important;">
            <tbody>
              <tr>
                <td> <i data-feather="map-pin" class="p-2 footer-icon feather-46"></i></td>
                <td><span class="text align-middle">Cơ sở 1: 55 Ngô Gia Tự</span></td>

              </tr>
              <tr>
                <td> <i data-feather="map-pin" class="p-2 footer-icon feather-46"></i></td>
                <td><span class="text align-middle">Cơ sở 2: 150 Ngô Gia Tự</span></td>

              </tr>
              <tr>
                <td> <i data-feather="map-pin" class="p-2 footer-icon feather-46"></i></td>
                <td><span class="text align-middle">Cơ sở 3: 51 Pastuer (Showroom máy tập TDTT )</span></td>

              </tr>
            </tbody>
          </table>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xxl-2 col-md-6  mx-auto mb-4 element">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            Chính sách
          </h4>
          
          <p>
            <a href="#!" class="text-reset">Chính sách giao nhận</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Chính sách đổi trả</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Chính sách bảo mật</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xxl-2 col-md-4 mx-auto mb-4 element">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Fanpage
          </h6>
          <p>
            <a href="#!" class="text-reset">Facebook</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-xxl-4  col-md-8 mx-auto mb-md-4 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Nhận ưu đãi</h6>
          <form action="">
            <input type="text" class="me-2 form-control input-box" placeholder="Nhập email">
          </form>
          <div class="row justify-content-end">
            <div class="col col-md-8">
              <div class=" d-grid">
                <a href="#" class="btn btn-primary">Đăng ký nhận ưu đãi</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->