<nav class="navbar navbar-expand-xl sticky-top" aria-label="Offcanvas navbar large">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" alt="Logo" width="65px" height="65px"
        class="image-brand d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
      aria-controls="offcanvasNavbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav category-nav justify-content-evenly me-auto mb-2 mb-lg-0">
          <script>
            function defer(method) {
              if (window.jQuery) {
                method();
              } else {
                setTimeout(function () { defer(method) }, 50);
              }
            }; defer(function () {
              $(".category-nav").load("/assets/category.html");
            })
          </script>
        </ul>
        <ul class="navbar-nav mb-lg-0 align-items-center align-middle text-center">
          <li class="nav-item search-box">

            <div class="d-flex nav-search justify-item-center">
              <i data-feather="search" class="nav-link search-icon feather-32 "></i>
              <form class="mb-0 pb-0" role="search">
                <input class="form-control ms-0 me-2 input-box text-start shadow-none" type="text" placeholder="Search"
                  name="search" aria-label="Search">
              </form>

            </div>
          </li>
          <li class="nav-item nav-icon">
            <a id="search-nav-icon" class="d-flex mb-2 mb-xl-0 me-xl-4 fs-4" data-bs-toggle="modal"
              data-bs-target="#exampleModal" style="border:0">
              <i data-feather="search" class="nav-link feather-46"></i>
            </a>
          </li>
          <% if (user==null) { %>
            <li class="nav-item nav-icon">
              <a href="/login" class="btn nav-link text-color-white px-3 mb-2 mx-auto mx-xl-0 mb-xl-0 me-xl-4"
                style="background-color: var(--black-color); padding-top: 10px; padding-bottom: 10px;">Đăng nhập</a>
            </li>
            <% } else { %>
              <li class="nav-item dropdown">
                <a class="btn nav-link text-color-white px-3 mb-2 mx-auto mx-xl-0 mb-xl-0 me-xl-4 dropdown-toggle"
                  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                  style="background-color: var(--black-color); padding-top: 10px; padding-bottom: 10px;">
                  Xin chào: <%=user.username %>
                </a>

                <ul class="dropdown-menu">
                  <% if (user.role=='Admin' ) {%>
                    <li><a class="dropdown-item" href="/admin" id="signout">Trang admin</a></li>

                    <%}%>
                      <li><a class="dropdown-item" href="/signout" id="signout">Đăng xuất</a></li>

                </ul>
              </li>
              <% } %>
                <li class="nav-item nav-icon">
                  <a href="/wishlist" id="wishlist-nav-icon" class="d-flex position-relative mb-2 mb-xl-0 me-xl-4 fs-4">
                    <i data-feather="heart" class="nav-link feather-46 position-relative"></i>
                  </a>
                </li>
                <li class="nav-item nav-icon ">
                  <a href="/cart" id="shopping-cart-nav-icon"
                    class="shopping-cart d-flex position-relative mb-2 mb-xl-0 me-xl-4 fs-4 ">
                    <i data-feather="shopping-cart" class="nav-link feather-46 position-relative"></i>
                  </a>
                </li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<%- include ('./search')%>