

<nav class="navbar navbar-expand-lg sticky-top" aria-label="Offcanvas navbar large">
    
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo.png" alt="Logo" width="65px" height="65px" class="image-brand d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <p>
                <a class="nav-link fw-bolder" aria-current="page" href="#">Trang chủ</a>
              </p>
            </li>
            <li class="nav-item dropdown fw-bolder">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <h5 class="d-inline-block">Danh mục sản phẩm</h5>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
            <li class="nav-item">
              <p>
                <a class="nav-link fw-bold" aria-current="page" href="#">Liên hệ</a>
              </p>
            </li>
          </ul>
  
          <ul class="navbar-nav mb-lg-0 align-item-center align-middle text-center">
            <li class="nav-item">
              
              <div class="d-flex nav-search justify-item-center">
                  <i data-feather="search" class="nav-link search-icon "></i>
                <form class="mb-0 pb-0" role="search">
                    <input class="form-control ms-0 me-2 input-box text-start shadow-none" type="text" placeholder="Search" name="search" aria-label="Search">
                </form>
  
              </div>
            </li>
              <li class="nav-item nav-icon">
                <a href="#"><i data-feather="user" class="nav-link fa-sharp fa-solid fa-user me-4 me-0"></i></a>
              </li>
              <li class="nav-item nav-icon">
                <a href="#"><i data-feather="heart" class="nav-link me-4 fs-4"></i></a>
              </li>
              <li class="nav-item nav-icon ">
                <a href="" class="shopping-cart d-flex position-relative">
                  <i data-feather="shopping-cart" class="nav-link me-4 position-relative"></i>
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    5
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </a>
                
              </li>
          </ul>
        </div>
        
      </div>
    </div>
  </nav>