<nav class="navbar navbar-expand-xl sticky-top" aria-label="Offcanvas navbar large">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" alt="Logo" width="65px" height="65px"
        class="image-brand d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
      aria-controls="offcanvasNavbar2">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-evenly me-auto mb-2 mb-lg-0">
          <!-- Category -->
          <li class="nav-item dropdown text-center p-1" id="nav-redirect">
            <a class="nav-link dropdown-toggle" href="/danh-muc/1" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="/assets/images/icon-navbar/shirt.svg" class="p-1 mb-2"></img>
              <h5>ÁO QUẦN ĐÁ BÓNG</h5>
              <div class="progress" style="height: 2px;">
                <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%;"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </a>
            <ul class="dropdown-menu py-xl-3">
              <!-- Dropdown -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <span class="toggle-submenu position-absolute p-3 mt-1" data-index="0">
                  <!-- In mobile  -->
                  <i class="toggle-icon fa-regular fa-plus open-menu" data-index="0"></i>
                  <i class="toggle-icon fa-regular fa-minus close-menu" data-index="0" style="display: none"></i>

                </span>
                <a class="dropdown-item py-3 px-4" href="/danh-muc/1067572"
                  aria-haspopup="true">
                  ÁO BÓNG ĐÁ KHÔNG LOGO
                </a>
                <ul class="dropdown-menu py-xl-3 dropdown-submenu my-sm-2 my-md-2 my-lg-0 my-xl-0">
                  <!-- Dropdown level 2-->
                  <li>
                    <a href="/danh-muc/944410" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">BỘ BÓNG ĐÁ DRAHA</a>
                  </li>
                  <li>
                    <a href="/danh-muc/949935" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">BỘ BÓNG ĐÁ BUBALL</a>
                  </li>
                  <li>
                    <a href="/danh-muc/949936" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">ÁO BÓNG ĐÁ KEEPLY</a>
                  </li>
                  <li>
                    <a href="/danh-muc/953916" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">BỘ zuka</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1067267" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">ÁO BÓNG ĐÁ RIKI</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1067571" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">BỘ BÓNG ĐÁ XSPEED</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1067574" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">BỘ BÓNG ĐÁ WIKA</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1067575" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">BỘ BÓNG ĐÁ LIDAS</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1071401" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">BỘ BÓNG ĐÁ TWINKLING
                      STAR</a>
                  </li>
                  <li>
                    <a href="/danh-muc/924719" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">ÁO BÓNG ĐÁ CP &
                      Egan</a>
                  </li>
                  <li>
                    <a href="/danh-muc/926410" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">BỘ BÓNG ĐÁ kaiwin</a>
                  </li>
                </ul> <!-- Dropdown level 2 -->
              </li> <!-- Dropdown level 1 -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <span class="toggle-submenu position-absolute p-3 mt-1" data-index="1">
                  <!-- In mobile  -->
                  <i class="toggle-icon fa-regular fa-plus open-menu" data-index="1"></i>
                  <i class="toggle-icon fa-regular fa-minus close-menu" data-index="1" style="display: none"></i>
                </span>
                <a class="dropdown-item py-3 px-4" href="/danh-muc/815142">
                  ÁO BÓNG ĐÁ CÂU LẠC BỘ
                </a>
                <ul class="dropdown-menu py-xl-3 dropdown-submenu my-sm-2 my-md-2 my-lg-0 my-xl-0">
                  <!-- Dropdown level 2 -->
                  <li>
                    <a href="/danh-muc/1000957389" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/ac-milan-logo.png" width="36px" height="36px" class="p-1" alt="">
                      AC MILAN</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075590" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/arsenal-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Arsenal</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1076421" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/atletico-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Atletico</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075600" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/barca-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Barcelona</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075592" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/bayern-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Bayern Munich</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075591" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/chelsea-logo.png" width="36px" height="36px" class="p-1" alt="">
                      CHELSEA</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075601" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/dortmund-logo.png" width="36px" height="36px" class="p-1" alt="">
                        Dortmund</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075595" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/juventus-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Juventus</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075637" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/la-galaxy-logo.png" width="36px" height="36px" class="p-1" alt="">
                      LA Galaxy</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075593" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/liverpool-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Liverpool</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075599" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/leicester-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Leicester City</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075596" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/mc-logo.png" width="36px" height="36px" class="p-1" alt="">
                        MANCHESTER CITY</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075598" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/miami-logo.png" width="36px" height="36px" class="p-1" alt="">
                      MIAMI</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075589" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/mu-logo.png" width="36px" height="36px" class="p-1" alt="">    
                      MU Manchester</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1076423" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/pau-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Pau</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075602" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/psg-logo.png" width="36px" height="36px" class="p-1" alt="">                 
                      PSG</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075597" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/real-logo.png" width="36px" height="36px" class="p-1" alt="">                  
                      Real Madrid</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1075594" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      <img src="/assets/images/logo-FC/tottenham-logo.png" width="36px" height="36px" class="p-1" alt="">
                      Tottenham</a>
                  </li>


                </ul><!-- Dropdown level 2 -->
              </li><!-- Dropdown level 1 -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1-->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/1075604" 
                  aria-haspopup="true">
                  ÁO BÓNG ĐÁ ĐỘI TUYỂN
                </a>
              </li><!-- Dropdown level 1 -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1-->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/841201"  
                  aria-haspopup="true">
                  ÁO BÓNG RỔ
                </a>
              </li><!-- Dropdown level 1 -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1-->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/910696"
                  aria-haspopup="true">
                  ÁO QUẦN BÓNG ĐÁ TRẺ EM
                </a>
              </li><!-- Dropdown level 1 -->
            </ul>
          </li><!-- Dropdown -->
          <li class="nav-item dropdown text-center p-1" id="nav-redirect">
            <a class="nav-link dropdown-toggle" href="/danh-muc/2" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="/assets/images/icon-navbar/shoe.svg" class="p-1 mb-2"></img>
              <h5>GIÀY</h5>
              <div class="progress" style="height: 2px;">
                <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%;"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </a>
            <ul class="dropdown-menu py-xl-3">
              <!-- Dropdown -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <span class="toggle-submenu position-absolute p-3 mt-1" data-index="2">
                  <!-- In mobile  -->
                  <i class="toggle-icon fa-regular fa-plus open-menu open-menu" data-index="2"></i>
                  <i class="toggle-icon fa-regular fa-minus close-menu" data-index="2" style="display: none"></i>
                </span>
                <a class="dropdown-item py-3 px-4" href="/danh-muc/1058356"
                  aria-haspopup="true">
                  GIÀY BÓNG ĐÁ
                </a>
                <ul class="dropdown-menu py-xl-3 dropdown-submenu my-sm-2 my-md-2 my-lg-0 my-xl-0"> <!-- Dropdown level 2-->
                  <li class="dropend position-relative"> <!-- Dropdown submenu-->
                    <span class="toggle-submenu position-absolute p-2 me-2 mt-1" data-index="1">
                      <!-- In mobile  -->
                      <i class="toggle-icon fa-regular fa-plus open-menu" data-index="1"></i>
                      <i class="toggle-icon fa-regular fa-minus close-menu" data-index="1" style="display: none"></i>
                    </span>
                    <a class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2" href="/danh-muc/1058358">
                      GIÀY ADIDAS
                    </a>
                    <ul class="dropdown-menu py-xl-3 dropdown-submenu my-sm-2 my-md-2 my-lg-0 my-xl-0"> <!-- Dropdown level 3 -->
                      <li>
                        <a href="/danh-muc/1058363" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          AĐIDAS Predator</a>
                      </li>
                      <li>
                        <a href="/danh-muc/1058364" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          ADIDAS X</a>
                      </li>
                      <li>
                        <a href="/danh-muc/1058365" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          ADIDAS NEMEZIZ</a>
                      </li>
                      <li>
                        <a href="/danh-muc/1058366" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          ADIDAS COPA</a>
                      </li>
                    </ul> <!-- Dropdown level 3 -->
                  </li> <!-- Dropdown submenu-->
                  <li class="dropend position-relative"> <!-- Dropdown submenu-->
                    <span class="toggle-submenu position-absolute p-2 me-2 mt-1" data-index="1">
                      <!-- In mobile  -->
                      <i class="toggle-icon fa-regular fa-plus open-menu" data-index="1"></i>
                      <i class="toggle-icon fa-regular fa-minus close-menu" data-index="1" style="display: none"></i>
                    </span>
                    <a class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2" href="/danh-muc/1058359"
                      aria-haspopup="true">
                      GIÀY NIKE
                    </a>
                    <ul class="dropdown-menu py-xl-3 dropdown-submenu my-sm-2 my-md-2 my-lg-0 my-xl-0"> <!-- Dropdown level 3 -->
                      <li>
                        <a href="/danh-muc/1058367" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          NIKE MERCURIAL LƯỠI GÀ</a>
                      </li>
                      <li>
                        <a href="/danh-muc/1058368" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          NIKE PHANTOM</a>
                      </li>
                      <li>
                        <a href="/danh-muc/1058369" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          NIKE MAGISTA</a>
                      </li>
                      <li>
                        <a href="/danh-muc/1058370" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          NIKE TIEMPO</a>
                      </li>
                      <li>
                        <a href="/danh-muc/1064004" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          NIKE MERCURIAL CỔ CAO</a>
                      </li>
                      <li>
                        <a href="/danh-muc/1064169" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                          NIKE MERCURIAL CỔ LỮNG</a>
                      </li>
                    </ul> <!-- Dropdown level 3 -->
                  </li> <!-- Dropdown submenu-->
                  <li>
                    <a href="/danh-muc/1058356/" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">GIÀY PUMA</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1058356/" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">PAN THÁI</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1058356/" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">Asics</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1058356/" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">GIÀY MIZUNO</a>
                  </li>
                </ul> <!-- Dropdown level 2-->
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/890527"
                  aria-haspopup="true">
                  GIÀY EBET
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/837784"
                  aria-haspopup="true">
                  GIÀY THỂ THAO
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/842898"
                  aria-haspopup="true">
                  GIÀY BÓNG ĐÁ TRẺ EM
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/833464"
                  aria-haspopup="true">
                  GIÀY BÓNG ĐÁ ĐINH CAO
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/948614"
                  aria-haspopup="true">
                  GIÀY BÓNG ĐÁ IC
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <span class="toggle-submenu position-absolute p-3 mt-1" data-index="1">
                  <!-- In mobile  -->
                  <i class="toggle-icon fa-regular fa-plus open-menu" data-index="1"></i>
                  <i class="toggle-icon fa-regular fa-minus close-menu" data-index="1" style="display: none"></i>
                </span>
                <a class="dropdown-item py-3 px-4" href="/danh-muc/919146">
                  GIÀY WIKA
                </a>
                <ul class="dropdown-menu py-xl-3 dropdown-submenu my-sm-2 my-md-2 my-lg-0 my-xl-0">
                  <!-- Dropdown level 2 -->
                  <li>
                    <a href="/danh-muc/1055842" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      GIÀY WIKA QH19NEO</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1068096" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      WIKA CP10</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1068099" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      WIKA PLASH</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1068532" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      WIKA GALAXY</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1068100" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      WIKA HUNTER</a>
                  </li>
                </ul><!-- Dropdown level 2 -->
              </li><!-- Dropdown level 1 -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/849572">
                  GIÀY KAMITO
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <span class="toggle-submenu position-absolute p-3 mt-1" data-index="1">
                  <!-- In mobile  -->
                  <i class="toggle-icon fa-regular fa-plus open-menu" data-index="1"></i>
                  <i class="toggle-icon fa-regular fa-minus close-menu" data-index="1" style="display: none"></i>
                </span>
                <a class="dropdown-item py-3 px-4" href="/danh-muc/1059090">
                  GIÀY BÓNG ĐÁ VIỆT NAM
                </a>
                <ul class="dropdown-menu py-xl-3 dropdown-submenu my-sm-2 my-md-2 my-lg-0 my-xl-0">
                  <!-- Dropdown level 2 -->
                  <li>
                    <a href="/danh-muc/1056980" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      GIÀY BÓNG ĐÁ IWIN</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1058010" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      GIÀY PRE VIỆT</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1059164" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      GIÀY NIKE SALE{DEL}</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1061199" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      XFACTER</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1000958778" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      GIÀY CP</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1059114" class="dropdown-item ms-3 ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      GIÀY 3 SỌC</a>
                  </li>
                  <li>
                    <a href="/danh-muc/1059110" class="dropdown-item ms-xl-0 ms-xxl-0 px-5 px-xl-4 px-xxl-4 py-2">
                      MIZUNO ZUKA VIỆT</a>
                  </li>
                  
                </ul><!-- Dropdown level 2 -->
              </li><!-- Dropdown level 1 -->
            </ul>
          </li>
          <li class="nav-item dropdown text-center p-1" id="nav-redirect">
            <!-- category -->
            <a class="nav-link dropdown-toggle" href="/danh-muc/3" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="/assets/images/icon-navbar/glove.svg" class="p-1 mb-2"></img>
              <h5>PHỤ KIỆN</h5>
              <div class="progress" style="height: 2px;">
                <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%;"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </a>
            <ul class="dropdown-menu py-xl-3">
              <!-- Dropdown -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/1056341">
                  GĂNG THỦ MÔN
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/795659">
                  PHỤ KIỆN BÓNG ĐÁ
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/876644">
                  PHỤ KIÊN AOLIKES
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/1060736">
                  PHỤ KIỆN MỚI
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/910438">
                  PHỤ KIỆN GYM
                </a>
              </li> <!-- Dropdown level 1-->
            </ul>
          </li>
          <li class="nav-item dropdown text-center p-1" id="nav-redirect">
            <!-- Category -->
            <a class="nav-link dropdown-toggle" href="/danh-muc/4" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="/assets/images/icon-navbar/ball.svg" class="p-1 mb-2"></img>
              <h5>BÓNG</h5>
              <div class="progress" style="height: 2px;">
                <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%;"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </a>
            <ul class="dropdown-menu py-xl-3">
              <!-- Dropdown -->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/826233">
                  BÓNG ĐÁ
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/838953">
                  BÓNG BÀN
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/854973">
                  BÓNG RỔ
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/916088">
                  BÓNG KAMITO
                </a>
              </li> <!-- Dropdown level 1-->
              <li class="dropend position-relative">
                <!-- Dropdown level 1 -->
                <a class="dropdown-item py-3 px-4" href="/danh-muc/916086">
                  BÓNG CHUYỀN
                </a>
              </li> <!-- Dropdown level 1-->
            </ul>
          </li>
          <li class="nav-item dropdown text-center p-1" id="nav-redirect">
            <a class="nav-link dropdown-toggle" href="/danh-muc/793639" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
              aria-expanded="false">
              <img src="/assets/images/icon-navbar/shuttercock.svg" class="p-1 mb-2"></img>
              <h5>CẦU LÔNG</h5>
              <div class="progress" style="height: 2px;">
                <div class="progress-bar" role="progressbar" aria-label="Example 1px high" style="width: 100%;"
                  aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </a>
          </li>
        </ul>

        <ul class="navbar-nav mb-lg-0 align-items-center align-middle text-center">
          <li class="nav-item search-box">

            <div class="d-flex nav-search justify-item-center">
              <i data-feather="search" class="nav-link search-icon feather-32 "></i>
              <form class="mb-0 pb-0" role="search">
                <input class="form-control ms-0 me-2 input-box text-start shadow-none" type="text" placeholder="Search"
                  name="search" aria-label="Search">
              </form>

            </div>
          </li>
          <li class="nav-item nav-icon">
            <a id="search-nav-icon" class="d-flex mb-2 mb-xl-0 me-xl-4 fs-4" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border:0">
              <i data-feather="search" class="nav-link feather-46"></i>
            </a>
          </li>
          <% if (user==null) { %>
            <li class="nav-item nav-icon">
              <a href="/login" class="btn nav-link text-color-white px-3 mb-2 mx-auto mx-xl-0 mb-xl-0 me-xl-4"
                style="background-color: var(--black-color); padding-top: 10px; padding-bottom: 10px;">Đăng nhập</a>
            </li>
            <% } else { %>
              <li class="nav-item dropdown">
                <a class="btn nav-link text-color-white px-3 mb-2 mx-auto mx-xl-0 mb-xl-0 me-xl-4 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false" style="background-color: var(--black-color); padding-top: 10px; padding-bottom: 10px;">
                  Xin chào: <%=user.username %> 
                </a>
               
                <ul class="dropdown-menu">
                  <% if (user.role == 'Admin') {%>
                    <li><a class="dropdown-item" href="/admin" id="signout">Trang admin</a></li>
                    
                  <%}%> 
                  <li><a class="dropdown-item" href="/signout" id="signout">Đăng xuất</a></li>
                  
                </ul>
              </li>
              <% } %>
                <li class="nav-item nav-icon">
                  <a href="/wishlist" id="wishlist-nav-icon" class="d-flex position-relative mb-2 mb-xl-0 me-xl-4 fs-4">
                    <i data-feather="heart" class="nav-link feather-46 position-relative"></i>
                  </a>
                </li>
                <li class="nav-item nav-icon ">
                  <a href="/cart" id="shopping-cart-nav-icon" class="shopping-cart d-flex position-relative mb-2 mb-xl-0 me-xl-4 fs-4 ">
                    <i data-feather="shopping-cart" class="nav-link feather-46 position-relative"></i>
                  </a>
                </li>
        </ul>
      </div>

    </div>
  </div>
</nav>

<%- include ('./search')%>
