
<a href="/chinh-sach/<%=news.slug%>" style="color: black"
    class="news col hover-bigger">
    <div class="rounded-4 ratio ratio-16x9"
            style="background-image: url('<%=news.images%>');background-size:cover">
    </div>
    <div class="mt-3">
            <h4 class="short-description">
                    <%=news.name%>
            </h4>
    </div>
    <div class="mt-3">
        <p class="short-description">
                <%=news.description%>
        </p>
</div>
    
</a>