<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header" style="border:0">
          <button type="button" class="btn-close mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body container mt-5">
            <h2 class="modal-title mb-4 text-center " id="exampleModalLabel">Tìm kiếm sản phẩm</h2>
            <form action="" class="row">
                <div class="col-sm-9 col-xl-10">
                  <div class="input-group text-end">
                    <div class="input-group-append">
                      <i class="fa-solid fa-magnifying-glass" style="padding: 15px; background-color: var(--light-gray-color); border-radius: 23px 0 0 23px"></i>
                    </div>
                    <input type="text" class="form-control input-box shadow-none" id="search-box" style="background-color: var(--light-gray-color);color:black; border:1px solid var(--light-gray-color)">
                    <div class="input-group-append">
                      <i class="fa-regular fa-x hover-bigger clear-input" style="padding: 15px; background-color: var(--light-gray-color); border-radius:0 23px 23px 0"></i>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary col-sm-3 col-xl-2" type="submit">Tìm kiếm</button>
            </form>
            <div class="item py-1 ms-2">
                  <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltb4841f90b9b56efd/62c6f28ba9f4bf4485d4f685/Manchester_United_2022-23_home_kit.jpg" style="border-radius:10px; object-fit:cover;width: 100px; height: 100px;" alt="">
                  <span class="d-inline-block align-middle ms-3">
                    <h4 class="short-description">Áo MU phiên bản cao cấp</h4>
                    <h4>300$</h4>
                  </span>
            </div>
            <div class="item py-1 ms-2">
              <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltb4841f90b9b56efd/62c6f28ba9f4bf4485d4f685/Manchester_United_2022-23_home_kit.jpg" style="border-radius:10px; object-fit:cover;width: 100px; height: 100px;" alt="">
              <span class="d-inline-block align-middle ms-3">
                <h4 class="short-description">Áo MU phiên bản cao cấp</h4>
                <h4>300$</h4>
              </span>
            </div>
            <div class="item py-1 ms-2">
              <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltb4841f90b9b56efd/62c6f28ba9f4bf4485d4f685/Manchester_United_2022-23_home_kit.jpg" style="border-radius:10px; object-fit:cover;width: 100px; height: 100px;" alt="">
              <span class="d-inline-block align-middle ms-3">
                <h4 class="short-description">Áo MU phiên bản cao cấp</h4>
                <h4>300$</h4>
              </span>
            </div>
            <div class="item py-1 ms-2">
              <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltb4841f90b9b56efd/62c6f28ba9f4bf4485d4f685/Manchester_United_2022-23_home_kit.jpg" style="border-radius:10px; object-fit:cover;width: 100px; height: 100px;" alt="">
              <span class="d-inline-block align-middle ms-3">
                <h4 class="short-description">Áo MU phiên bản cao cấp</h4>
                <h4>300$</h4>
              </span>
            </div>
            <div class="item py-1 ms-2">
              <img src="https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/bltb4841f90b9b56efd/62c6f28ba9f4bf4485d4f685/Manchester_United_2022-23_home_kit.jpg" style="border-radius:10px; object-fit:cover;width: 100px; height: 100px;" alt="">
              <span class="d-inline-block align-middle ms-3">
                <h4 class="short-description">Áo MU phiên bản cao cấp</h4>
                <h4>300$</h4>
              </span>
            </div>
        </div>
      </div>
    </div>
  </div>